.gradle/
build
target
.idea
.DS_Store
*.jar
*.exe
*.bin
build/
*/build/
*/.DS_Store
.gradle/
.metadata/
.project
.classpath
.settings/
*.class
doc/
bin/
drivers/
test-output/
Cucumber_Reports/
Detailed_Reports/
*/logs/
*/gradle-wrapper.jar
